body {
  font: 16px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  /* padding-left: 30px; */
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  /* margin-bottom: 10px; */
}

.square {
  background: #fff;
  border: 1px solid #999;
  height: 6rem;
  width: 6rem;
  text-align: center;
  float: left;
  font-size: 32px;
  font-weight: bold;
  /* line-height: 34px; */
  margin-right: -1px;
  margin-top: -1px;
  /* padding: 0; */
}

.square:focus {
  outline: none;
}

.highlighted {
  background: rgba(61, 255, 61, 0.726);
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  /* display: flex;
  flex-direction: row; */
  margin: 5rem auto;
  width: 18rem;
}

.game-info {
  /* margin-left: 20px; */
}
